<mat-drawer-container class="example-container">

  <mat-drawer class="preto" #drawer mode="side" opened style="position: fixed;">
    <br>
    <div fxLayoutAlign="center center">
      <img src="assets/imagens/utilitatioscolorido.png" width="210em">
    </div>
    <br>
    <div class="container-menu" fxLayout="column" fxLayoutGap="0.5em">

      <h2>Saúde</h2>
      <div fxLayout="row" fxFlex="100">
        <p>Consumo de água</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Meu Imc</p>
      </div>

      <h2>Conversões</h2>
      <div fxLayout="row" fxFlex="100">
        <p>Conversor de Dinheiro</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Conversor de Kg e Lib</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Conversor de Horas</p>
      </div>

      <h2>Definir</h2>
      <div fxLayout="row" fxFlex="100">
        <p>Endereço pelo cep</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Gerador de Texto</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Gasolina ou Alcool</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Altonomia Veicular</p>
      </div>

      <h2>Sorteador</h2>
      <div fxLayout="row" fxFlex="100">
        <p>Sortear Palavra</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Sortear Número</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Sortear Letra</p>
      </div>
      <div fxLayout="row" fxFlex="100">
        <p>Sortear Data</p>
      </div>

    </div>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>